@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.hover-makanye {
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.hover-makanye:hover {
  box-shadow: inset 0 -1.5em 0 black;
  color: #fff;
}

.hover-makanye-black {
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.hover-makanye-black:hover {
  box-shadow: inset 0 -1.5em 0 #fff;
  color: black;
}
